.idea
node_modules
npm-debug.log
coverage
client/dist
node_modules
unit_coverage
bower_components
typings
.migration_config.json
*.js
*.js.map
dist
.env
**/.env2
media/*
logs/*
!media/magnum-header-logo.png
dump.rdb
sublime.*
*.DS_Store
.vscode/
*/package-lock.json
**/package-lock.json
**/target
**/.project
**/.classpath
**/.settings
